# http://git-scm.com/docs/gitignore


#netbeans specific
core
nbproject/*
!nbproject/project.properties
!nbproject/project.xml

# Eclipse

**/.project
**/.settings
**/.classpath
**/.springBeans

# Intellij

**/.idea/**
**/*.iml
**/*.ipr
**/*.iws
.idea
*.iml

# misc

**/classes/**
**/.external*
**/target/**
target
**/test-output/**
**/junk/**
**/*.log
**/.DS_STORE

#*.gitignore
#bin

